@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Merriweather:ital,wght@1,700&family=Merriweather+Sans&display=swap');
@import "tailwindcss";

:root {
  --background-1: #D7E4E6;
  --background-2: #FFFFFF;
  --background-3: #D9D9D9;

  --foreground-1: #000000;
  --foreground-2: #818586;

  --border-radius: 15px;
  --box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
}

@theme {
  /* BACKGROUND */
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);

  /* FOREGROUND */
  --color-foreground-1: var(--foreground-1);
  --color-foreground-2: var(--foreground-2);

  --radius-border-radius: var(--border-radius);
  --shadow-box-shadow: var(--box-shadow);
}

body {
  background: var(--background-1);
}

h1,
.h1 {
  font-family: 'Merriweather', serif;
  font-size: 64px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

h2,
.h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}

h3,
.h3 {
  font-family: 'Average Sans', sans-serif;
  font-size: 28px;
  font-weight: 300;
}

p,
.p {
  font-family: 'Average Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
}