@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Merriweather:ital,wght@1,700&family=Merriweather+Sans:wght@300;400&display=swap');
@import "tailwindcss";

:root {
  --background-1: #fff6e5;
  --background-2: #ffffff;
  --background-3: #e6d6b8;

  --foreground-1: #3f3f3f;
  --foreground-2: #9a8f82;

  --accent-1: #7eb691;
  --accent-2: #f2c66d;

  --border-radius: 10px;
  --box-shadow: 0px 2px 14px 0px rgba(63, 63, 63, 0.10);
}

@theme {
  /* BACKGROUND */
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);

  /* FOREGROUND */
  --color-foreground-1: var(--foreground-1);
  --color-foreground-2: var(--foreground-2);

  /* ACCENT */
  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);

  --radius-border-radius: var(--border-radius);
  --shadow-box-shadow: var(--box-shadow);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: var(--background-1);
}

h1,
.h1 {
  font-family: 'Merriweather', serif;
  font-size: clamp(40px, 8vw, 64px);
  font-style: italic;
  font-weight: 700;
  line-height: 1.1;
}

h2,
.h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: clamp(14px, 2.2vw, 20px);
  font-weight: 300;
  letter-spacing: clamp(1px, 0.25vw, 2px);
}

h3,
.h3 {
  font-family: 'Average Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

h4,
.h4 {
  font-family: 'Average Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

p,
.p {
  font-family: 'Average Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
